<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.felwal.trackfield">

    <!-- permissions -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.felwal.trackfield.permission.MAPS_RECIEVE" />

    <permission
        android:name="com.felwal.trackfield.permission.MAPS_RECIEVE"
        android:protectionLevel="signature" />

    <!-- app -->

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trackfield.Green">

        <!-- main -->

        <activity
            android:name="com.felwal.trackfield.ui.onboarding.OnboardingActivity"
            android:label="@string/activity_title_onboarding"
            android:parentActivityName="com.felwal.trackfield.ui.main.MainActivity" />

        <activity
            android:name="com.felwal.trackfield.ui.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Trackfield.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- exercise detail -->

        <activity
            android:name="com.felwal.trackfield.ui.exercisedetail.ExerciseDetailActivity"
            android:label="@string/activity_title_view"
            android:parentActivityName="com.felwal.trackfield.ui.main.MainActivity" />

        <activity
            android:name="com.felwal.trackfield.ui.exercisedetail.ExerciseEditActivity"
            android:label="@string/activity_title_edit"
            android:parentActivityName="com.felwal.trackfield.ui.main.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.felwal.trackfield.ui.exercisedetail.ExerciseAddActivity"
            android:label="@string/activity_title_add"
            android:parentActivityName="com.felwal.trackfield.ui.main.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- map -->

        <activity
            android:name="com.felwal.trackfield.ui.map.ExerciseMapActivity"
            android:label="@string/activity_title_maps"
            android:parentActivityName="com.felwal.trackfield.ui.exercisedetail.ExerciseDetailActivity" />

        <activity
            android:name="com.felwal.trackfield.ui.map.RouteMapActivity"
            android:label="@string/activity_title_maps"
            android:parentActivityName="com.felwal.trackfield.ui.exercisedetail.ExerciseDetailActivity" />

        <activity
            android:name="com.felwal.trackfield.ui.map.PlaceMapActivity"
            android:label="@string/activity_title_maps"
            android:parentActivityName="com.felwal.trackfield.ui.groupdetail.placedetail.PlaceDetailActivity" />

        <!-- group detail -->

        <activity
            android:name="com.felwal.trackfield.ui.groupdetail.distancedetail.DistanceDetailActivity"
            android:parentActivityName="com.felwal.trackfield.ui.main.MainActivity" />

        <activity
            android:name="com.felwal.trackfield.ui.groupdetail.routedetail.RouteDetailActivity"
            android:parentActivityName="com.felwal.trackfield.ui.main.MainActivity" />

        <activity
            android:name="com.felwal.trackfield.ui.groupdetail.placedetail.PlaceDetailActivity"
            android:parentActivityName="com.felwal.trackfield.ui.main.MainActivity" />

        <activity
            android:name="com.felwal.trackfield.ui.groupdetail.intervaldetail.IntervalDetailActivity"
            android:parentActivityName="com.felwal.trackfield.ui.main.MainActivity" />

        <!-- settings -->

        <activity
            android:name="com.felwal.trackfield.ui.setting.SettingsActivity"
            android:parentActivityName="com.felwal.trackfield.ui.main.MainActivity" />

        <activity
            android:name="com.felwal.trackfield.ui.setting.StravaSettingsActivity"
            android:parentActivityName="com.felwal.trackfield.ui.setting.SettingsActivity"
            android:launchMode="singleTask">
            <tools:validation testUrl="https://felwal.github.io/callback" />
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="felwal.github.io"
                    android:pathPrefix="/callback" />
            </intent-filter>
        </activity>

        <!-- meta-data -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>